@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700,600);
@import '../../static/styles/reset';

body {
  -webkit-font-smoothing: antialiased;
}

.route-change-enter {
  opacity: 0.01;
  transition: .1s;
}

.route-change-enter.route-change-enter-active {
  opacity: 1;
}

.route-change-leave {
  opacity: 1;
  transition: .1s;
}

.route-change-leave.route-change-leave-active {
  opacity: 0.01;
}


i {
  width: 10px;
  height: 10px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  &.url {
    background-image: url('../../static/images/url.svg');
  }
  &.write {
    background-image: url('../../static/images/write.svg');
  }
}

.structure--main {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: 'Open Sans';

  .header {
    @extend %header;
  }

  .body {
    // min-width: 100%;
    flex-grow: 1;
    overflow: auto;
    background: #fff;
  }
  .footer {
    height: 40px;
    min-height: 40px;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.4);
    display: flex;
    padding: 0 20px;
    position: relative;
    z-index: 10;
  }
}

%header {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  min-height: 60px;
  align-items: center;
  display: flex;
  padding: 0 20px;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  z-index: 10;

  .logo {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    font-weight: lighter;
    .entertain-part {
      color: #002d49;
    }
    .io-part {
      color: #00b9ee;
    }
  }

  .navigation {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    margin-left: 20px;
    a {
      align-items: center;
      border-bottom: 3px solid transparent;
      color: #002d49;
      cursor: pointer;
      display: flex;
      font-size: 11px;
      text-transform: uppercase;
      margin: 0 5px;
      padding: 0 10px;
      transition: .2s;
      text-decoration: none;
      &.active, &:hover {
        border-bottom: 3px solid #00b9ee;
      }
    }
  }
}
