.component--article {
  width: 600px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #eee;
  padding: 25px 0;
  .meta {
    border-color: green;
    width: 45px;
    min-width: 45px;
    margin-top: 65px;
    .points {
      display: flex;
      align-items: center;
      flex-direction: column;
      .counter {
        display: inline-block;
        color: #a6a6a6;
        font-size: 12px;
        line-height: 26px;
      }
      .vote {
        height: 11px;
        width: 12px;
        background: url('../../static/images/vote.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        border: 0;
        cursor: pointer;
        outline: 0;
        transition: .2s;
        &.down {
          transform: rotate(180deg);
        }
      }
    }
  }
  .main {
    flex-grow: 1;
    .info {
      display: flex;
      flex-direction: row;
      .avatar {
        border-radius: 100px;
        border: 1px solid #ddd;
        overflow: hidden;
        width: 25px;
        height: 25px;
        position: relative;
        img {
          width: 100%;
        }
      }

      .username, .posted {
        margin-left: 5px;
      }
      .username {
        display: block;
        color: #1ab0c6;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .posted {
        line-height: 14px;
        display: block;
        font-size: 10px;
        color: #a6a6a6;
      }
    }
    .text {
      color: #3b3b3b;
      font-size: 14px;
      margin: {
        top: 10px;
        left: 10px;
        bottom: 10px;
      }
    }
    .content {
      box-shadow: inset -7px -96px 92px -3px rgba(0,0,0,0.6);
      height: 200px;
      display: flex;
      transition: .5s;
      text-decoration: none;
      &:hover {
        box-shadow: inset -7px -96px 92px -3px rgba(0,0,0,1);
      }
      .body {
        align-self: flex-end;
        margin: 15px;
        background: transparent;
        .headline {
          font-size: 18px;
          color: #fff;
          font-weight: bold;
        }
        .desc {
          color: #fff;
          font-size: 14px;
          line-height: 18px;
          margin-top: 5px;
          width: 100%;
        }
      }
    }
  }
}
