%text-field {
  display: block;
  flex-grow: 1;
  width: 100%;
  padding: 6px;
  font-size: 14px;
  outline: 0;
  border: 0;
  margin: 5px 0;
  margin-left: 15px;
}

%icon {
  height: 15px;
  width: 15px;
  margin-top: 13px;
  margin-left: 8px;
}

.component--add-article {
  width: 600px;
  margin: auto;
  align-self: flex-start;
  overflow: hidden;
  margin-top: 15px;
  .article-text-block, .article-url-block {
    margin-left: 5px;
  }
  i {
    @extend %icon;
  }
  .add-article {
    transition: .3s;
    .article-text {
    }
    .article-text-block {
      display: flex;
      .article-text {
        @extend %text-field;
      }
    }
    .article-url-block {
      display: flex;
    }
    .article-url {
      @extend %text-field;
    }
    .publish-article {
      display: block;
      padding: 10px;
      border: 0;
    }
  }
}
